<h2>Account Management </h2>
<div class="jumbotron">
	<div class="container">
		<div class="row">
		  <%= if @conn.assigns[:user] do %>
          <h3>Manage your account <%= @conn.assigns.user.first_name %></h3>

          <h4>Subscription type:</h4>

          <h4>Personal details </h4>

          <h4> Payment Option </h4>


          <% else %>
          <p>Please sign in</p>
          <% %>
          <% end %>

		</div>
	</div>
</div>
