
<% content = Contentful.Delivery.entry(Application.get_env(:chrono,:contentful_space), Application.get_env(:chrono,:contentful_key),  "5o68EBRcY0QE4OMWiYmeiE" ) %>
<h2><%= content["fields"]["title"] %> </h2>
<div class="jumbotron">
	<%= case Earmark.as_html(content["fields"]["body"]) do
		{:ok, output, []} ->
			raw(output)
			{:error, output, error_messages} ->
				IO.puts error_messages
			end
			%>


		</div>