<div class="row header">
    <div class="col-12 text-center">
         <h2><%= @page.title %></h2>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2 text-center">
        <%=raw(@page.html) %>
    </div>
</div>
