
<% content = Contentful.Delivery.entry(System.get_env("SPACE_ID"), System.get_env("ACCESS_TOKEN"),  "73RQf0xKeIY2uu68ueOsm6" ) %>
<h2><%= content["fields"]["title"] %> </h2>
<div class="jumbotron">
	<%= case Earmark.as_html(content["fields"]["body"]) do
		{:ok, output, []} ->
			raw(output)
			{:error, output, error_messages} ->
				IO.puts error_messages
			end
			%>


		</div>