<!doctype html>
<html lang="en">
  <head>
    <title>Chrono 6538</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Watch sharing">
    <meta name="author" content="vp, jb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/ico/32.png") %>" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="<%= static_path(@conn, "/images/ico/60.png")%>" type="image/png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= static_path(@conn, "/images/ico/72.png")%>"type="image/png">
    <link rel="apple-touch-icon" sizes="120x120" href=href="<%= static_path(@conn, "/images/ico/120.png")%>" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href=href="<%= static_path(@conn, "/images/ico/152.png")%>"type="image/png">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <a id="menu-link" href="#" class="">
      <span class="menu-icon"></span>
    </a>

    <div class="overlay" id="overlay">
      <nav class="overlay-menu">
        <ul>
          <%= for page <- pages(@all_pages) do %>
            <li><a href="<%="#"<>page.title |> String.replace(" ", "") %>" class="smooth-scroll"><%= page.title%></a></li>
          <% end %>
          <li><a href="#contact" class="smooth-scroll">Learn More</a></li>
        </ul>
      </nav>
    </div>

    <!-- Modal Register Interest -->
    <!--%= render "register_interest.html", conn: @conn%-->

    <%= render @view_module, @view_template, assigns %>

    <%= render "footer.html" %>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script type="text/javascript" src=https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" LoadAfterUI="true" src="<%= static_path(@conn, "/js/app.js") %>"></script>  

  </body>
</html>
